@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.con{
    width: 1030px;
    position: relative;
    left: 18%;
    padding-top: 45px;
    padding-left: 65px;
    /* border: 2px solid blue; */
    height: 1400px;

}
.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.con1{
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows:repeat(1,1fr);
    gap: 20px;
}
.con1 p,li{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
}
h3{
    position: relative;
    right: 1%;
}

.sidenav{
    border: 1px solid gray;
    position: absolute;
    position: fixed;
    top: 0;
    height: 1400px;
    width: 225px;
    font-weight: 300;
}

.sidenav h4{
    font-size: 25px;
    text-align: left;
    padding: 10px;
    font-weight: 300;
}

.siders{
    list-style-type: none;
    padding:5px 10px;
}
.siders li{
    border-bottom: 1px solid gray;
    font-size: 15px;
    padding: 5px 0px;
    list-style:none;
    width: 210px;
    color: black;
}
.siders:hover{
    background-color: rgb(219, 216, 216);
    transition: 0.3s ease-in-out;
    
}
.siders a{
    text-decoration: none;
}
/* Responsive part  */
@media (max-width:480px){
    
    .con{
        margin-top: 80%;
    }
    .con,.con1,content{
        position: relative;
        left: 0;
        width: 300px;
        justify-content: center;

    }
    .sidenav{
        position: absolute;
        height: 320px;
        left: 20%;
        border: none;


    }
}